.background {
  background-color: rgba(33, 36, 40);
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 100 !important;
  cursor: pointer;
  

  #flex1 {
    gap: 20px;
   justify-content: flex-start;


  }

 #hov:hover{
color: red !important;
 }
  img {
    box-shadow: 0px 0px 1px 1px rgb(112, 105, 105);
  }
  .flex2 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: smaller !important;
    // justify-content: flex-start;
    // margin-left: 0;
  }
}
.toggle:not(.collapsed) {
  border: none !important;
  background-color: transparent !important;
  
}
.toggle:not(.collapsed) .navbar-toggler-icon {
  background-image: url('../public/cross.png');
   /* Replace with the cross icon */
   width: 20px;

}
.toggle:focus {
  box-shadow: none !important;
  border: none !important;
}

.toggle .navbar-toggler-icon {
  background-image: url('../public/menu.png'); /* Replace with your custom icon */
  background-color: transparent; /* Removes the background color */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;


}

.toggle {
  box-shadow: none !important;
  border: none !important;
  width: 50px !important;
  height: auto !important;
}
.toggle:not(.collapsed)  .navbar-toggler-icon:hover{
  transform: rotate(180deg) scale(1.2); /* Rotate and slightly scale up */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); /* Add a soft shadow */
  opacity: 0.8;
}

@media only screen and (min-width: 576px) {
  #toggle {
    display: none !important ;
  }
 
}
