.background {
  background-color: rgba(33, 36, 40);
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 100 !important;
  cursor: pointer;

  #toggle {
    border-radius: 15px;
    width: 50px;
    height: 50px;
  }
  #flex1 {
    gap: 20px;


  }
 #hov:hover{
color: red !important;
 }
  img {
    box-shadow: 0px 0px 1px 1px rgb(101, 99, 99);
  }
  .flex2 {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
#toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
  width: 50px !important;
  height: auto !important;
}

@media only screen and (min-width: 576px) {
  #toggle {
    display: none !important ;
  }
}
